<ng-template appModalPlaceholder></ng-template>
<form class="user-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="user-form__name">Реєстрація</div>
  <div class="user-form__errors" *ngIf="userForm.touched && userForm.errors">
        <div *ngIf="userForm.errors && userForm.errors.repeatingValues">Поля форми не можуть мати однакові значення</div>
        <div *ngIf="userForm.errors && userForm.errors.totalValueLength">Загальна кількість символів у трьох полях не може перевищувати 50 символів</div>
    </div>
    <div class ="user-form__control">
        <label for="name">Ім'я</label>
        <input id="name" formControlName="name" (input)="capitalize($event)">
        <div class="user-form__errors" *ngIf="name.touched && name.errors">
            <div *ngIf="name.errors.required">Поле повинно бути заповнене</div>
            <div *ngIf="name.errors.pattern">Поле повинно містити тільки літери українського алфавіту</div>
            <div *ngIf="name.errors.minlength">Мінімальна довжина має становити {{name.errors.minlength.requiredLength}} символи</div>
            <div *ngIf="name.errors.maxlength">Максимальна довжина має становити {{name.errors.maxlength.requiredLength}} символів</div>
            <div *ngIf="name.errors.repeatingSymbols">Поле не може містити однакові літери підряд</div>
        </div>
    </div>
    <div  class ="user-form__control">
        <label for="lastname">Прізвище</label>
        <input id="lastname" formControlName="lastname" (input)="capitalize($event)">
        <div class="user-form__errors" *ngIf="lastname.touched && lastname.errors">
            <div *ngIf="lastname.errors.required">Поле повинно бути заповнене</div>
            <div *ngIf="lastname.errors.pattern">Поле повинно містити тільки літери українського алфавіту</div>
            <div *ngIf="lastname.errors.minlength">Мінімальна довжина має становити {{lastname.errors.minlength.requiredLength}} символи</div>
            <div *ngIf="lastname.errors.maxlength">Максимальна довжина має становити {{lastname.errors.maxlength.requiredLength}} символів</div>
            <div *ngIf="lastname.errors.repeatingSymbols">Поле не може містити однакові літери підряд</div>
        </div>
    </div>
    <div class ="user-form__control">
        <label for="patronymic">По-батькові</label>
        <input id="patronymic" formControlName="patronymic" (input)="capitalize($event)">
        <div class="user-form__errors" *ngIf="patronymic.touched && patronymic.errors">
            <div *ngIf="patronymic.errors.required">Поле повинно бути заповнене</div>
            <div *ngIf="patronymic.errors.pattern">Поле повинно містити тільки літери українського алфавіту</div>
            <div *ngIf="patronymic.errors.minlength">Мінімальна довжина має становити {{patronymic.errors.minlength.requiredLength}} символи</div>
            <div *ngIf="patronymic.errors.maxlength">Максимальна довжина має становити {{patronymic.errors.maxlength.requiredLength}} символів</div>
            <div *ngIf="patronymic.errors.repeatingSymbols">Поле не може містити однакові літери підряд</div>
        </div>
    </div>
    <div class ="user-form__control">
        <button type="submit" class ="user-form__btn">Відправити</button>
    </div>
</form>
