.user-form {
  background: white;
  border-radius: 5px;
  padding: 30px 30px 50px;
  width: 300px;
  margin: 50px auto;

  &__name {
    font-size: 36px;
    font-weight: bold;
    text-align:center;
    margin-bottom: 20px;
  }

  &__control + &__control {
    margin-top: 20px;
  }

  &__control label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__control input {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    display: block;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;

    &:focus {
    outline: none;
    }

    &.ng-touched.ng-valid {
      border: 1px solid #60C7C1;
    }

    &.ng-touched.ng-invalid {
      border: 1px solid red;
    }
  }

  &__errors {
    margin: 5px 0 10px;
    color: red;
    font-size: 14px;
  }

  &__btn {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #60C7C1;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 0 #60C7C1, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }

  }
}
