.alert-modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left:0;
  z-index: 10;

  &__body {
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    margin: 50px auto 0;
    padding: 20px;
    background: white;
    position: relative;
  }

  &__close {
    width: 20px;
    height: 20px;
    background: lightgray;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 10px;
    color: black;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }
}
